﻿<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home">{{brand.label}}</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ng-repeat="nav in Nav.mainNav"><a ui-sref="{{nav.state}}">{{nav.label}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a>Log in</a></li>
        </ul>
    </div>
</div>