﻿<h2>Catalogue</h2>
<hr />

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Description</th>
        <th>Price</th>
    </tr>

    <tr ng-repeat="product in catalogue.list">
        <td>{{product.Name}}</td>
        <td>{{product.Code}}</td>
        <td>{{product.Description}}</td>
        <td>{{product.Price}}</td>
    </tr>

</table>