﻿<div class="jumbotron">
    <h1>{{brand.label}}</h1>
    <p class="lead">
        this is the explination of your shop
    </p>
    <p>
        <small>
            <em>
                here you can put anything you want to say to your customers
            </em>
        </small>
    </p>
</div>